:root{
    --primary: #ffc54a;
    --primary-content: #eff6ff;
    
    --secondary: #e10000; 
    --secondary-content: #fff7ed;
    
    --accent: #79d7fd;
    --accent-content: #f5fce5;
    
    --neutral: #00bbfa;
    --neutral-content: #fff7ed;
    
    --dark-blue: #00183e;
    --base-100: #fff7ed;
    --base-200: #feecd3;
    --base-content: #001736;

    --black: #333333;

    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --navbar-color: rgba(0, 24, 62, 0.800);
    --navbar-color-alternative: rgba(0, 24, 62, 0.900);
}

html {
  scroll-behavior: smooth;
}

.bitter {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5{
    font-family: Anton !important; 
    margin: 0;
}


body{
    background-color: var(--neutral);
    margin: 0px;
    padding: 0px;

    /* Herencia */
    font-family: Bitter;
}

main{
    display: flex;
    flex-direction: column;
}

section{
    padding: 2rem 4rem 2rem 4rem;
}

@media screen and (min-width: 0px) and (max-width: 1200px){
    section{
        padding: 2rem 1rem 2rem 1rem;
    }
}

#vestuarios{
    background-color: var(--neutral);
    position: relative;
    top: -5px;
}

#vestuarios h2{
    text-align: center;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

@media screen and (min-width: 0px) and (max-width: 1200px){
    .cards-container{
        gap: 2rem;
    }
}

.card, .small-card{
    border-radius: 0.3rem;
    padding: 1.3rem;
    width: 80rem;
    max-width: 20rem;
    background-color: #e3e3e3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    gap: 1rem;

    /* Herencia */
    text-align: center;

}

.small-card{
    width: 10rem;
}

.card h4, .small-card h4{
    margin: 0px;
    font-size: 1.3rem;
    width: 100%;
}

.card p, .small-card p{
    margin: 0px;
    width: 100%;
}

.card img{
    max-width: 100%;
    max-height: 20rem;
    width: 80%;
    border-radius: 0.3rem;
}

.small-card img{
    width: 8rem;
}

.content-left, .content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-size: 1.2rem;
}

.content-right{
    flex-direction: row-reverse;
    text-align: right;
}

.content-left img, .content-right img{
    width: 15rem;

    border-radius: 0.3rem;
}

@media screen and (min-width: 0px) and (max-width: 1200px){
    .content-left, .content-right{
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;
    }

    .content-left article, .content-right article{
        width: 100% !important;
    }

    .content-left img, .content-right img{
        max-width: 90%;
        margin-top: 2rem;
    }
}

#origen{
    background-color: var(--accent);
}

.section-title{
    font-size: 3rem;
    text-align: center;
    color: var(--dark-blue);
    transform: skew(-5deg);
}

#iconos{
    
}

nav{
    background-color: var(--navbar-color);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(1rem);

    padding: 0rem 0.3rem 0rem 0.3rem;

    position: sticky;
    top: 0;
    left: 0;

    z-index: 10;

}

#nav-container{
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s ease;
}

#nav-container.visible {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

nav img{
    width: 3rem;
    height: 3rem;
    margin: 0.15rem 0rem 0.15rem 0rem;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 1rem 0rem 1rem;
    gap: 1rem;
    list-style: none;
    margin: 0px;
}

nav li{
    height: 100%;
}

nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--neutral-content);
    font-weight: 300;
    padding: 0rem 1rem 0rem 1rem;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.288);
}

nav p{
    margin: 0px;
}

#nav-open{
    padding: 0.3rem;
    display: none;
}

#nav-close{
    display: none;
}

nav button{
    background-color: transparent !important;
    border: none;
}

nav button img{
    width: 1.8em;
    height: 1.8rem;
}

@media screen and (min-width: 0px) and (max-width: 1200px){
    #nav-open{
        display: initial;
    }

    #nav-close{
        display: initial;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    #nav-container{
        background-color: var(--navbar-color-alternative);
        backdrop-filter: blur(1000px);
        position: fixed;
        top: 0;
        left: 0;

        justify-content: space-around;
        align-content: flex-start;

        width: 100vw;
        height: 100vh;
        padding: 2rem 0rem 2rem 0rem;
        margin: 0px;

        text-align: center;

        opacity: 0;
        transform: translateY(-100%);
    }

    nav ul{
        width: 100%;
        gap: 3rem;
        padding: 2rem 0rem 2rem 0rem;
    }

    nav li{
        height: auto;
        width: 100%;
    }

    nav a{
        display: block;
        width: 100%;
        height: auto;
        padding: 1rem 0rem 1rem 0rem;
    }

}




.hero{
    position: relative;
    margin: 0;
    padding: 0;
}

.hero img{
    width: 100%;
    height: auto;
}

.hero article{
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    text-align: right;
    color: var(--dark-blue);
    opacity: 0.8;
}

.hero div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--accent);
    opacity: 0.4;
    backdrop-filter: blur(1rem);

}

.hero h1{
    font-size: 6rem;
}

.hero p{
    font-size: 1.5rem;
}

@media screen and (min-width: 0px) and (max-width: 1200px){
    .hero img{
        width: 100%;
        height: 100vh;
    }

    .hero article{
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        width: 100%;
    }

    .hero h1{
        font-size: 3rem;
    }

    .hero p{
        font-size: 1rem;
    }
}

footer{
    background-color: var(--navbar-color);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(1rem);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    padding: 1rem;
    color: var(--neutral-content);
}

footer ul{
 
    display: grid;
    align-items: center;
    grid-template: auto auto / auto auto ;
    column-gap: 1rem;
    grid-template-columns: auto auto;

    padding: 0rem 1rem 0rem 1rem;
    gap: 2rem;
    list-style: none;
    margin: 0px;
}

footer li{
    height: 100%;
}

footer a{
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--neutral-content);
    font-weight: 300;
}

footer p{
    margin: 0px;
    text-align: center;
}

footer p:hover{
    opacity: 0.5;
}

.rotate{
    transition: all 0.3s ease;
}

.rotate:hover{
    rotate: 5deg;
}